* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root{
  --primary : #5F008F;
  --secondary: #B319FF;
  --third: #9100DB;
  --fourth: #6F8F00;
  --fifth: #AADB00;
  --light: #5F008F 10;
  
}